body
{
  background: #333;
  font-family: sans-serif;
}


#game
{
  display: block;
  margin: 3em auto;
  border: 10px solid #444;
  background: #000;
}

#debug
{
  background: #444;
  padding: 1em;
  position: absolute;
  top: 3em;
  left: 1em;
  width: 200px;
  color: #fff;
  
}
